h1{
	color: blue;
	font size: 50px;
	border: 5px dashed;
	background-color: yellow;
}

h2{
	color: red;
	font-size: 40px;
	background-color: blue;
}



h3{
	color: green;
	font-size: 30px;
}